doctype hmtl
html
  head
    link( rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    meta( charset = "utf-8")
    meta( name="viewport", content= "width=device-width, initial-scale=1")
    title Hello, World
  body
    div
      p Hello, my name is Maarten, welcome to my brand new website!
  
      p This is a new line.

